/*CONSOLE(ADMIN PANEL) STYLING*/
#sidebar-wrapper {
    width: 550px;

}

#sidebar-wrapper img {
    width: 45px;
}

#sidebar-header {
    margin-top: 1em;
}

#page-content-wrapper {
    margin: 2em;
}